@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&family=Inter:wght@400;700&family=Lora:wght@400;700&display=swap');


:root {
  --F4F4F4: #F4F4F4;
  --A445ED: #A445ED;
  --2D2D2D: #2D2D2D;
  --757575: #757575;
  --FFFFFF: #FFFFFF;
  --050505: #050505;
}

.dark-theme {
  --FFFFFF: #050505;
  --F4F4F4: #1F1F1F;
  --2D2D2D: #FFF;
  
  & .switchContainer {
    justify-content: flex-end;
    background-color: #A445ED;
  }

  & .moon {
    color: #A445ED;
  }
}

body {
  font-family: 'Inter';
  background: var(--FFFFFF, #FFF);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  padding: 0 200px;
}

.header {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding-top: 64px;
}

.FontSelect {
  border: none;
  background-color: transparent;
  padding: 0 20px;
  cursor: pointer;
  color: var(--2D2D2D);
}

.headerLeftSide {
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: center;
}

.dictionaryIcon img {
  background-color: var(--FFFFFF);
}

.selectStyle {
  display: flex;
  gap: 18px;

  & p {
    color: var(--2D2D2D);
  }
}

.lightDark {
  display: flex;
  justify-content: flex-end;
  gap: 16px;
}

.switchContainer {
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  padding: 4px;
  border-radius: 999px;
  background: var(--757575);
  width: 48px;

  & img {
    width: 20px;
    height: 20px;
    fill: var(--FFFFFF, #FFF);
  }
}

.searchBar {
  margin: 50px auto 0 auto;

  & label {
    border-radius: 16px;
    background: var(--F4F4F4, #F4F4F4);
    padding: 20px;
  }

  & input {
    border: none;
    border-radius: 16px;
    background: var(--F4F4F4, #F4F4F4);
    width: 100%;
    padding: 20px;
    color: var(--2D2D2D, #2D2D2D);
    background-image: url("/images/search-icon.svg");
    background-repeat: no-repeat;
    background-position: 95% 50%;
    & :hover {
      cursor: pointer;
      border-radius: 16px;
      border: 1px solid var(--A445ED, #A445ED);
      background: var(--F4F4F4, #F4F4F4);
    }
  }
}

.searchWords {
  margin: 45px auto 0 auto;

  & .words {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  & h1 {
    color: var(--2D2D2D, #2D2D2D);
    font-size: 64px;
    font-weight: 700;
    line-height: normal;
  }

  & p {
    color: var(--A445ED, #A445ED);
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}


.phonetics {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
}

.noun {
  margin-top: 40px;

  &  h3 {
    color: var(--2D2D2D, #2D2D2D);
    font-size: 24px;
    font-style: italic;
    font-weight: 700;
    line-height: normal;
  }

  & p {
    margin-top: 40px;
    margin-bottom: 25px;
    color: var(--757575, #757575);
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  & li {
    margin-left: 22px;
    margin-bottom: 13px;
    color: var(--2D2D2D, #2D2D2D);
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 133.333% */
  }
}

.synonyms {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  gap: 22px;

  & span {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: inherit;
    grid-row-gap: inherit;
  }

  & span p {
    margin: 0;
    color: var(--A445ED, #A445ED);
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    cursor: pointer;

  }
}

/* .synonymsP {
  cursor: pointer;
} */

.verb {

  margin-top: 40px;

  & h3 {
    margin-bottom: 40px;
    color: var(--2D2D2D, #2D2D2D);
    font-size: 24px;
    font-style: italic;
    font-weight: 700;
    line-height: normal;
  }

  & p {
    margin-bottom: 25px;
    color: var(--757575, #757575);
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  & li {
    margin-bottom: 13px;
    margin-left: 22px;
    color: var(--2D2D2D, #2D2D2D);
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 133.333% */
  }

  & .keyb {
    margin-left: 22px;
  }
}

.source {
  display: flex;
  gap: 29px;

  & p {
    color: var(--757575, #757575);
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;
  }

  & a {
    color: var(--2D2D2D, #2D2D2D);
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;
  }
}

.error {
  & input {
    border-radius: 16px;
    border: 1px solid var(--FF5252, #FF5252);
    background: var(--F4F4F4, #F4F4F4);
  }
}

.validation {
  color: var(--FF5252, #FF5252);
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
  font-style: normal;
}




@media (width < 769px) {

  .container {
    padding: 0 100px;
  }
}





@media (width < 400px) {
  
  .container {
    padding: 0 24px;
  }

  .selectStyle {

    & p {
      color: var(--2D2D2D, #2D2D2D);
      text-align: right;
      font-size: 14px;
      font-style: normal;
      font-weight: 700;
      line-height: 24px; /* 171.429% */
    }
  }

  .words {

    & h1 {
      color: var(--2D2D2D, #2D2D2D);
      font-size: 32px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }

    & p {
      color: var(--A445ED, #A445ED);
      font-feature-settings: 'clig' off, 'liga' off;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px; /* 133.333% */
    }
  }

  .noun {

    & h3 {
      color: var(--2D2D2D, #2D2D2D);
      font-size: 18px;
      font-style: italic;
      font-weight: 700;
      line-height: normal;
    }

    & p {
      color: var(--757575, #757575);
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }

    & li {
      color: var(--2D2D2D, #2D2D2D);
      font-size: 15px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px; /* 160% */
    }
  }

  .synonyms {

    & p {
      color: var(--757575, #757575);
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }

    & span {
      grid-template-columns: repeat(2, 1fr);

    }

    & span p {
      color: var(--A445ED, #A445ED);
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }
  }

  .verb {

    & h3 {
      color: var(--2D2D2D, #2D2D2D);
      font-size: 18px;
      font-style: italic;
      font-weight: 700;
      line-height: normal;
    }

    & p {
      color: var(--757575, #757575);
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }

    & li {
      color: var(--2D2D2D, #2D2D2D);
      font-size: 15px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px; /* 160% */
    }
  }
}


.notFound {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  text-align: center;
  margin-top: 48px;


  & h2 {
    color: var(--2D2D2D, #2D2D2D);
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  & p {
    color: var(--757575, #757575);
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
  }
}